.side-bar
  .side-bar__header
    .side-bar__box
      .side-bar__user-name
        p name
      .side-bar__icon
        .side-bar__icon__new    
          %a(href="#")
            %i.fa.fa-edit
        .side-bar__icon__edit
          %a(href="#")
            %i.fa.fa-cog

  .side-bar__groups
    .side-bar__group
      .side-bar__group-name
        グループ名
      .side-bar__group-message
        メッセージ
    .side-bar__group
      .side-bar__group-name
        グループ名
      .side-bar__group-message
        メッセージ
